@page "/"

<PageTitle>remote-ac-webui</PageTitle>

<div class="row">
    <div class="col-md-6 order-lg-2">
        <RemoteControl/>
        <br/>
        <Graph/>
        <br/>
        <Metrics/>
    </div>
    <div class="col-md-6 order-lg-1">
        <div class="row">
            <HistoricalSensorData/>
        </div>
    </div>
</div>
