@using Remote.AC.Core.Helpers
<h3>HistoricalSensorData</h3>

@if (Response?.Data is null)
{
  <p>Loading...</p>
}
else
{
  @foreach (var record in Response.Data)
  {
    <p>
      <span>@record.Date.ToString("yyyy-MM-dd HH:mm:ss")</span>
      <span> :: </span>
      <span>@TemperatureHelpers.CelsiusToFahrenheit(record.TempC) (@record.TempC)</span>
      <span>H: @record.Humidity</span>
    </p>
  }
  <div class="row">
    <div class="col">
      @if (Page < (Response.Data.Count() / 20))
      {
        <button class="btn btn-primary" @onclick="() => NextPage()">
          <i class="bi bi-chevron-double-left"></i>
        </button>
      }
    </div>
  </div>
}