<div class="container">
<h3>Data History</h3>

<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        Lowest Temp:
      </div>
      <div class="col-md-auto">
        @TempLow&deg;F
      </div>
    </div>
    <div class="row">
      <div class="col">
        Average Temp:
      </div>
      <div class="col-md-auto">
        @TempAvg&deg;F
      </div>
    </div>
    <div class="row">
      <div class="col">
        Highest Temp:
      </div>
      <div class="col-md-auto">
        @TempHigh&deg;F
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        Lowest Humidity:
      </div>
      <div class="col-md-auto">
        @(HumidityLow)%
      </div>
    </div>
    <div class="row">
      <div class="col">
        Average Humidity:
      </div>
      <div class="col-md-auto">
        @(HumidityAvg)%
      </div>
    </div>
    <div class="row">
      <div class="col">
        Highest Humidity:
      </div>
      <div class="col-md-auto">
        @(HumidityHigh)%
      </div>
    </div>
  </div>
</div>

</div>