@inherits LayoutComponentBase
<div class="page">

    <main>
      <div class="top-row px-4">
        <div class="top-row-right">
          Top Row
          </div>
      </div>

      <article class="content px-4">
        @Body
      </article>

      <div class="container-fluid">
        <footer class="footer">
          @* <Version/> *@
        </footer>
      </div>
    </main>
</div>